<%= content_for :head_js do %>
  <%= javascript_include_tag 'restaurant_recommendation', 'data-turbolinks-track' => true %>
<% end %>

<div class="recommendation-content">
  <div class="title-container">
    <h1 class="main-title">Recommend a Suitable Restaurant</h1>
  </div>

  <div class="task-description-container">
    <p class="task-description">
      Please provide the name of a restaurant <span class="critical-detail">in <%= @location_city %>,
      <%= @location_state %> <%= @location_country %></span> that meets the following <%= @tags.length %>
      requirements.
    </p>
  </div>

  <div class="tags-container">
    <ul class="tags">
      <% @tags.each do |tag| %>
        <li class="tag">
	  <span class="tag-label"> <%= tag %> </span>
	</li>
      <% end %>
    </ul>
  </div>

  <div class="form-container">
    <%= form_for RestaurantRecommendation.new,
        url: {action: "create", is_sandbox: !!params[:is_sandbox]},
	      html: {class: "recommendation-form time-tracked"} do |form| %>

      <%= form.text_field :name, class: "text-input negative-suggested",
        required: true, autocomplete: "off" %>
      <%= form.hidden_field :time_to_complete, class: "completion-time-field" %>
      <%= form.hidden_field :time_of_entry, class: "entry-time-field" %>
      <%= form.hidden_field :serialized_terms, value: @tags.to_json %>
      <%= form.hidden_field :city, value: @location_city %>
      <%= form.hidden_field :state, value: @location_state %>
      <%= form.hidden_field :country, value: @location_country %>
      <%= form.hidden_field :hit_id, class: "hit-id-field" %>
      <%= form.hidden_field :assignment_id, class: "assignment-id-field" %>
      <%= form.hidden_field :worker_id, class: "worker-id-field" %>
      <%= form.submit "Submit", class: "submit button", disabled: true %>
    <% end %>

    <div class="denial-message-container entry-message-container">
      <p class="denial-message"></p>
    </div>
    <div class="allow-message-container entry-message-container">
      <p class="allow-message"> Please continue with your entry and submit when finished. </p>
    </div>
    <div class="vanilla-message-container entry-message-container active">
      <p class="vanilla-message"> Please enter a restaurant name that
        we do not already have. You will be notified instantly if your entry exists.</p>
    </div>
  </div>
</div>
